/* Don't show all row data by default */
.views-debug {
    display: none;
}

/* Because views won't allow me to wrap grouped items individually */
.wrapme {
    display: none;
}

/* Make some things just go away */
.flag-my-learning,
.force-hidden {
    display: none;
}

.node-eva-related-media .views-field-value > span,
#block-views-media-content-block .views-field-value > span,
#block-views-user-block .views-field-value > span {
    visibility: hidden;
}

.node-eva-related-media .views-field-value span,
.node-eva-related-media .views-field-value span span,
#block-views-media-content-block .views-field-value span,
#block-views-media-content-block .views-field-value span span,
#block-views-user-block .views-field-value span,
#block-views-user-block .views-field-value span span {
    display: block;
    background: url(../images/stars.png) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}

.node-eva-related-media .views-field-value span span,
#block-views-media-content-block .views-field-value span span,
#block-views-user-block .views-field-value span span {
    background-position: 0 0;
}

.node-type-media .media-nav-thumbs .views-row {
    display: none;
}

.front .page-header {
    display: none;
}

.wrapper {
    border: 1px solid #CCCCCC;
    border-radius: 0;
    margin-bottom: 12px;
    padding: 8px;
}

.front .views-field-field-thumbnail img,
.not-front .field-content img {
    display: block;
    margin: 0 auto;
}

.front .views-field-title,
.node-eva-related-media .views-field-title {
    font-weight: 600;
    min-height: 40px;
    max-height: 40px;
}

.front .views-field-field-description,
.node-eva-related-media .views-field-field-description {
    max-height: 60px;
    min-height: 60px;
}

.front .views-field-value,
.node-eva-related-media .views-field-value {
    float: left;
}

.front .views-field-path a,
.node-eva-related-media .views-field-path a {
	/* replaced with bootstrap button
    border: 1px solid #CCCCCC;
    padding: 0 16px;
    margin-bottom: 12px;
	*/
    border-radius: 0;
    float: right;
}

.node-eva-related-media > .title {
    text-align: center;
    border-bottom: 1px solid #CCC;
    margin-bottom: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    font-weight: 600;
}

#block-views-node-eva-block-1 .views-field-nothing-1 {
    position: relative;
}

#block-views-node-eva-block-1 .field-title {
    font-weight: 600;
    font-size: 16px;
}

#block-views-node-eva-block-1 .field-value {
	/*
    float: right;
    position: absolute;
    right: 0;
    top: -10px;
	*/
    margin-top: -10px;
}

#block-views-node-eva-block-1 .field-value .rate-widget {
    display: inline-block;
    position: relative;
    top: 12px;
    height: 16px;
}

#block-views-node-eva-block-1 .posted-related-info {
    margin: 12px 0;
    font-weight: 400;
}

#block-views-node-eva-block-1 .field-description {
    font-weight: 300;
    margin-bottom: 24px;
}

.rate-widget-fivestar ul {
	padding-left: 10px;
}

/*
.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev		 { left: -25%; }
.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
*/

.item .wrapper {
    height: 308px;
    background-color: #FFF;
}

.grouped-by {
    /* background-color: #CCC; */
	padding: 15px 0 5px;
	margin: 15px 0;
	position: relative;
}

.grouped-by.user-media {
	background: #fefefe;
}

.user-media-header {
	position: absolute;
	font-size: 10px;
	top: 5px;
	left: 27px;
}

.grouped-by.anonymous-media {
	background: #fff;
}

.grouped-by div:first-child .wrapper {
    background-color: #fdfdfd;
}

.grouped-by div:first-child .wrapper h2 {
    line-height: 308px;
    font-size: 22px;
	padding: 0;
	margin: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
	color: #666;
}
.grouped-by div:first-child .wrapper a,
.grouped-by div:first-child .wrapper a:hover {
	text-decoration: none;
	border: 0;
}

.field-value .rate-fivestar-btn-filled {
    background-image: url(../images/stars.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}

.field-value .rate-fivestar-btn-empty {
    background-image: url(../images/stars.png);
    background-repeat: no-repeat;
    background-position: 0 -16px;
}

