// Insert your styling here.

a {
	color: @link-color;
	&:hover {
		color: @link-hover-color;
	}
	&.flag-link-toggle {
		text-decoration: none;
		color: @text-color;
		padding-left: 16px;
		&:hover {
			color: @text-color;
		}
		&.flag-action {
			&:before {
				font-family: FontAwesome;
				content: '\f096';
				float: left;
				display: inline-block;
				width: 5px;
			}
			&:hover {
				text-decoration: none;
				&:before {
					font-family: FontAwesome;
					content: '\f046';
					float: left;
					display: inline-block;
					width: 5px;
				}
			}
		}
		&.unflag-action {
			&:before {
				font-family: FontAwesome;
				content: '\f046';
				float: left;
				display: inline-block;
				width: 5px;
			}
			&:hover {
				text-decoration: none;
				&:before {
					font-family: FontAwesome;
					content: '\f096';
					float: left;
					display: inline-block;
					width: 5px;
				}
			}
		}
	}
}
.hide-span {
	span {
		display: none;
	}
}
.breadcrumb {
	background-color: transparent;
}

#main {
	background: #fff;
}

.media-nav-thumbs {
	.views-row {
		width: 300px;
		height: 100px;
		border: 1px solid #CCCCCC;
		border-radius: 0;
		margin-bottom: 12px;
		padding: 8px;
	}
	img {
		max-width: 100px;
		height: auto;
		max-height: 100px;
	}
	.views-row-first {
		position: fixed;
		top: 300px;
		left: 0;
	}
	.views-row-first img {
		float: right;
		padding-left: 10px;
	}
	.views-row-last {
		position: fixed;
		top: 300px;
		right: 0;
	}
	.views-row-last img {
		float: left;
		padding-right: 10px;
	}
}


.views-field-field-thumbnail {
    margin-bottom: 50px;
}

.node-type-media ul.links {
	display: none;
}
