// Insert your styling here.

html {
	background: @gray-dark;
}
.navbar .logo img {
	max-height: 34px;
}
.social-links {
	span {
		@media only screen and (min-width : 768px) {
			display: none;
		}
	}
}
ul.secondary {
	border-right: 1px solid #444;
}
.logged-in .nav-login,
.not-logged-in.page-user ul.secondary {
	display: none;
}